<div class="legend-div d-flex">
    <div class="legend-item d-flex">
        <div class="green-circle legend-color-div"></div>
        <span class="legend-text">Estável</span>
    </div>
    <div class="legend-item d-flex">
        <div class="yellow-circle legend-color-div"></div>
        <span class="legend-text">Moderado</span>
    </div>
    <div class="legend-item d-flex">
        <div class="red-circle legend-color-div"></div>
        <span class="legend-text">Crítico</span>
    </div>
</div>
<div class="patients-div d-flex flex-column">
    <% patients.forEach(function(patient) { %>
    <div class="patient-card <%= patient.gravityClass %> d-flex" onclick="toggleCard(this)">
        <div class="patient-summary">
            <div class="d-flex">
                <div class="w-70">
                    <span class="label">Nome: <span class="text"><%= patient.patient %></span></span>
                </div>
                <div class="d-flex flex-row w-30" style="gap: 30px">
                    <span class="label">Idade: <span class="text"><%= patient.age_patient %></span></span>
                    <span class="label">Sexo: <span class="text"><%= patient.sex_patient %></span></span>
                </div>
            </div>
            <div class="patient-details d-flex flex-row">
                <div class="d-flex flex-column w-70">
                    <span class="label">Motivo da internação: <span class="text"><%= patient.hospitalization_reason %></span></span>
                    <div class="d-flex flex-row" style="gap: 100px">
                        <span class="label">Tempo de internação: <span class="text"><%= patient.diffDays %> Dias</span></span>
                        <span class="label">Setor: <span class="text"><%= patient.bed && patient.bed.unit ? patient.bed.unit.name : '-' %></span></span>
                    </div>
                </div>
                <div class="d-flex flex-column w-30">
                    <span class="label">Gravidade: <span class="text"><%= patient.gravity %></span></span>
                    <span class="label">Nº Leito: <span class="text"><%= patient.bed ? patient.bed.number : '-' %></span></span>
                </div>
            </div>
        </div>
        <span class="expand-icon d-flex material-symbols-outlined">
            keyboard_arrow_down
        </span>
    </div>
    <% }); %>
</div>
<script>
    function toggleCard(card) {
        card.classList.toggle('expanded');
    }
</script>