<div class="legend-div d-flex">
    <div class="legend-item d-flex">
        <div class="orange-circle legend-color-div"></div>
        <span class="legend-text">Manutenção</span>
    </div>
    <div class="legend-item d-flex">
        <div class="purple-circle legend-color-div"></div>
        <span class="legend-text">Limpeza</span>
    </div>
    <div class="legend-item d-flex">
        <div class="light-green-circle legend-color-div"></div>
        <span class="legend-text">Transferência de Paciente</span>
    </div>
    <div class="legend-item d-flex">
        <div class="blue-circle legend-color-div"></div>
        <span class="legend-text">Medicar Paciente</span>
    </div>
</div>
<h2 class="requests-list d-flex">Lista de Solicitações</h2>
<div class="requests-div d-flex">
    <div id="request-background" class="requests-background d-flex flex-column">
        <% requests.forEach(function(request) { %>
            <div class="request
            <% if(request.type == 'Manutenção') {%> request-maintenance <%}
            else if(request.type == 'Limpeza') {%> request-cleaning <%}
            else if(request.type == 'Transferência de Paciente') {%> request-patient-transfer <%}
            else if(request.type == 'Medicar Paciente') {%> request-medicate-patient <%} %>
            d-flex flex-column">
                <div class="request-summary d-flex flex-row">
                    <span class="type-label label">Tipo: <span class="text">
                            <%= request.type %>
                        </span></span>
                    <span class="professional-label label">Profissional: <span class="text">
                            <%= request.professional %>
                        </span></span>
                    <span class="bed-label label">Leito: <span class="text">
                            <%= request.bed_number %>
                        </span></span>
                    <div class="edit-delete-div d-flex flex-row">
                        <span data-bs-toggle="modal" data-bs-target="#modal-edit-request"
                            class="edit-icon material-symbols-outlined" data-request-id="<%= request.id %>">edit</span>
                        <span data-bs-toggle="modal" data-bs-target="#modal-delete-request"
                            class="delete-icon material-symbols-outlined" data-request-id="<%= request.id %>">delete</span>
                    </div>
                </div>
                <div class="request-details d-flex">
                    <span class="observations-label label">Observações: <span class="text">
                            <%= request.observations %>
                        </span></span>
                </div>
            </div>
            <% }); %>
    </div>
</div>
<div class="new-request-button-div d-flex">
    <button data-bs-toggle="modal" data-bs-target="#modal-new-request" class="new-request-button d-flex">
        <h3>Nova Solicitação</h3>
    </button>
</div>
</div>

<div class="modal fade" id="modal-new-request" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header new-request-title">
                <span class="modal-title">Nova Solicitação</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="new-request-body modal-body d-flex flex-column gap-2">
                <form action="/requests/create" method="POST" id="new-request-form">
                    <span class="label">Tipo
                        <select required class="type-select" name="type" id="type-new-select">
                            <option value="">Selecione</option>
                            <option value="Manutenção">Manutenção</option>
                            <option value="Limpeza">Limpeza</option>
                            <option value="Transferência de Paciente">Transferência de Paciente</option>
                            <option value="Medicar Paciente">Medicar Paciente</option>
                        </select></span>
                    <div class="d-flex flex-row gap-1 align-items-center">
                        <span class="label">Leito: <input required class="bed-input" name="bed_number" id="bed-new-input"
                                type="number"></span>
                    </div>
                    <span class="label d-flex flex-column">Profissional
                        <select required class="professional-select" name="professional" id="professional-new-select">
                            <option value="">Selecione</option>
                            <% employees.forEach(function(employee) { %>
                                <option value="<%= employee.name %>">
                                    <%= employee.name %>
                                </option>
                                <% }); %>
                        </select>
                    </span>
                    <span class="label">Observações:</span>
                    <textarea class="observations-text-area" name="observations" id="observations-new-text"></textarea>
                    <div class="modal-buttons-div d-flex flex-row gap-3">
                        <button type="button" onclick="clearButton('modal-new-request')"
                            class="clean-button new-request-button">Limpar</button>
                        <button type="submit" class="confirm-button new-request-button">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-request" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header edit-request-title">
                <span class="modal-title">Editar Solicitação</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <form action="/requests/update" method="POST" id="edit-request-form">
                    <input type="hidden" name="id" id="edit-request-id">
                    <span class="label">Tipo
                        <select required class="type-select" name="type" id="type-edit-select">
                            <option value="">Selecione</option>
                            <option value="Manutenção">Manutenção</option>
                            <option value="Limpeza">Limpeza</option>
                            <option value="Transferência de Paciente">Transferência de Paciente</option>
                            <option value="Medicar Paciente">Medicar Paciente</option>
                        </select>
                    </span>
                    <div class="d-flex flex-row gap-1 align-items-center">
                        <span class="label">Leito: <input required class="bed-input" name="bed_number" id="bed-edit-input"
                                type="number"></span>
                    </div>
                    <span class="label d-flex flex-column">Profissional
                        <select required class="professional-select" name="professional" id="professional-edit-select">
                            <option value="">Selecione</option>
                            <% employees.forEach(function(employee) { %>
                                <option value="<%= employee.name %>">
                                    <%= employee.name %>
                                </option>
                                <% }); %>
                        </select>
                    </span>
                    <span class="label">Observações:</span>
                    <textarea class="observations-text-area" name="observations" id="observations-edit-text"></textarea>
                    <div class="modal-buttons-div d-flex flex-row gap-3">
                        <button type="button" onclick="clearButton('modal-edit-request')"
                            class="clean-button edit-request-button">Limpar</button>
                        <button type="submit" class="confirm-button edit-request-button">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-request" tabindex="-1">
    <div class="modal-dialog modal-s modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex">
                <span class="modal-title mt-4">Tem certeza que deseja excluir essa solicitação</span>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <form action="/requests/delete" method="POST" id="delete-request-form">
                    <input type="hidden" name="id" id="delete-request-id">
                    <div class="modal-buttons-div d-flex flex-row gap-3">
                        <button type="button" data-bs-dismiss="modal" class="no-button btn-modal-close">Não</button>
                        <button type="submit" class="yes-button">Sim</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const requests = <%- JSON.stringify(requests) %>;

    function clearButton(modal) {
        const modalElements = document.getElementById(modal);
        const elements = modalElements.querySelectorAll('select, input, textarea');

        elements.forEach(element => {
            element.value = "";
        });
    }

    function fillEditModal(requestId) {
        const request = requests.find(r => r.id === requestId);
        if (!request) return;

        document.getElementById('edit-request-id').value = requestId;
        document.getElementById('type-edit-select').value = request.type;
        document.getElementById('bed-edit-input').value = request.bed_number;
        document.getElementById('professional-edit-select').value = request.professional;
        document.getElementById('observations-edit-text').value = request.observations;
    }

    document.querySelectorAll('.edit-icon').forEach(icon => {
        icon.addEventListener('click', function () {
            const requestId = parseInt(this.getAttribute('data-request-id'));
            fillEditModal(requestId);
        });
    });

    document.querySelectorAll('.delete-icon').forEach(icon => {
        icon.addEventListener('click', function () {
            const requestId = parseInt(this.getAttribute('data-request-id'));
            document.getElementById('delete-request-id').value = requestId;
        });
    });
</script>