<div class="legend-div d-flex">
    <div class="legend-item d-flex">
        <div class="green-border legend-color-div"></div>
        <span class="legend-text">Em Plantão</span>
    </div>
    <div class="legend-item d-flex">
        <div class="yellow-border legend-color-div"></div>
        <span class="legend-text">Intervalo</span>
    </div>
    <div class="legend-item d-flex">
        <div class="red-border legend-color-div"></div>
        <span class="legend-text">Fora de Serviço</span>
    </div>
</div>
<div class="team-div d-flex flex-wrap">
    <% employees.forEach(function(employee) { %>
        <div class="professional d-flex flex-row">
            <div class="photo-div d-flex">
                <div class="border-photo d-flex 
                    <% if (employee.situation == 'Intervalo') {%> photo-yellow-border <% } 
                    else if (employee.situation == 'Em plantão') {%> photo-green-border <%} 
                    else{%> photo-red-border <%}%>">
                    <span class="photo material-symbols-outlined">
                        face
                    </span>
                </div>
            </div>
            <div class="professional-infos d-flex flex-column">
                <h3 class="info-label">Nome: <span>
                        <%= employee.name %>
                    </span></h3>
                <h3 class="info-label">ID: <span>
                        <%= employee.id %>
                    </span></h3>
                <h3 class="info-label">Cargo: <span>
                        <%= employee.role %>
                    </span></h3>
                <h3 class="info-label">Situação: <span>
                        <%= employee.situation %>
                    </span></h3>
                <h3 class="info-label">Especialidade: <span>
                        <%= employee.speciality %>
                    </span></h3>
            </div>
        </div>
        <% }); %>
</div>